#Game{
    background-image: url(./Tiles/Background.png);
    background-size: contain;
    background-repeat: none;
    width: 50%;
    height: 400px;
    position: relative;
}
#Char2 {
    position: absolute;
    display: inline-block;
    top: 340px;
    left: 50px;
    /* z-index: 2; */
}

.crystal{
    position: absolute;
    width: 30px;
    top:335px;
    right: 50px;
}
#platform{
    position: absolute;
    width: 20%;
    height: 10px;
    top: 335px;
    background-color: black;
    z-index: 1;
}
.platform {
    position: absolute;
    width: 200px;
    height: 50px; 
    top: 300px;
    background-color: transparent;
    z-index: 1;
    background-image: url(./Tiles/Platforms.png);
    background-size:contain;
}

.monestor {
    position: absolute;
    /* width: 200px; */
    height: 40px; 
    top: 300px;
    background-color: transparent;
    z-index: 1;
    left: 330px;
    top: 275px;

}

.Door {
    position: absolute;
    height: 50px; 
    /* top: 300px; */
    background-color: transparent;
    z-index: 1;
    right: 30px;
    top: 320px;

}

.key {
    position: absolute;
    height: 20px; 
    top: 300px;
    background-color: transparent;
    z-index: 1;
    left: 350px;
    top: 220px;

}
progress {
    background: red;

    -webkit-appearance: none;
    border-radius: 50px;
  }
  progress::-webkit-progress-value {background-color: red !important;}

  
  ::-webkit-progress-bar {
    border-radius: 50px;

    background-color: white;
  }


  .button-start {
    align-content: center;
    vertical-align:middle;
    text-align: center;
    padding: 0em 0em 5em 0em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    left: 300px;
    top: 200px;
    width: 150px;
    height: 50px;
  }

  
  .button-start:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-start 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
  }
  
  @keyframes glowing-button-start {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-start:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 50px;
  }
#control{
    line-height: 1px;
    color: white;
    text-align: center;
    top: 50px;
    position: relative;
    /* border:1px solid red ; */
}
#control>p{
    line-height: 1px;}
